<div class="jumbotron special">
  <p class="flash"><%= notice %><%= alert %></p>
  <div class="honoka"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 outline">
        <h1>Curry Photo</h1>
        <p>Curryの写真で飯テロを起こすサイト</p>
        <div class="download">
          <a href="/pictures" class="btn btn-primary btn-lg"><i class="fa fa-play"></i>写真を投稿する</a>
        </div>
      </div>
    </div>
  </div>
</div>